<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
initial-scale=􀇐, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/􀇓.􀇐.􀇒/css/\
bootstrap.min.css"
          integrity="sha􀇒􀇗􀇓-MCw􀇘􀇗/SFnGE􀇗fJT􀇒GXwEOngsV􀇖Zt􀇑􀇖NXFoaoApmYm􀇗􀇐i\
uXoPkFOJwJ􀇗ERdknLPMO"
          crossorigin="anonymous">

    <title>Newspaper app</title>
</head>
<body>
<h1>Hello, world!</h1>

<script src="https://code.jquery.com/jquery-􀇒.􀇒.􀇐.slim.min.js"
integrity="sha􀇒􀇗􀇓-q􀇗i/X+􀇘􀇕􀇔DzO􀇏rT􀇖abK􀇓􀇐JStQIAqVgRVzpbzo􀇔smXKp􀇓\
YfRvH+􀇗abtTE􀇐Pi􀇕jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/\
􀇐.􀇐􀇓.􀇒/
umd/popper.min.js"
integrity="sha􀇒􀇗􀇓-ZMP􀇖rVo􀇒mIykV+􀇑+􀇘J􀇒UJ􀇓􀇕jBk􀇏WLaUAdn􀇕􀇗􀇘aCwoqbB\
JiSnjAK/
l􀇗WvCWPIPm􀇓􀇘"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/􀇓.􀇐.􀇒/\
js/bootstrap.min.js"
integrity="sha􀇒􀇗􀇓-ChfqqxuZUCnJSK􀇒+MXmPNIyE􀇕ZbWh􀇑IMqE􀇑􀇓􀇐rYiqJxyMiZ\
􀇕OW/JmZQ􀇔stwEULTy"
crossorigin="anonymous"></script>
</body>
</html>